@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  scroll-behavior: smooth;
}



@layer base {
  section {
    @apply bg-white overflow-hidden bg-pattern  bg-center  
  }
  p {
    @apply font-light font-quicksand
  }
  h3 {
    @apply mb-4 text-4xl md:text-5xl font-montserrat leading-tight font-bold tracking-tighter
  }
  .main-section {
    @apply pt-12 md:py-24 md:pt-24 
  }
  .main-paragraph {
    @apply mb-6 mx-auto text-lg font-normal max-w-2xl
  }
  .footer-icon {
    @apply inline-block hover:text-brand transition-all duration-100 ease-in
  }
  .brand-button {
    @apply inline-block py-4 px-6 w-full text-base text-white md:text-lg leading-4  font-medium text-center bg-brand border border-brand  hover:bg-brandAlt rounded-md shadow-md transition-all duration-100
  }
  .gradient-fill {
    @apply inline-block py-px px-2 mb-4 text-xs leading-5 text-white bg-gradient-brand background-animate overflow-hidden font-medium rounded-full shadow-sm
  }
}

.bg-gradient-brand{
  background-image:linear-gradient(112.84deg,#48b1e0 .33%,#76c5e8 38.23%,#a4d8f0 65.22%,#bfb600 100%)
}

.background-animate{
  background-size:400%;
  -webkit-animation:AnimateBackground 15s linear infinite;
  animation:AnimateBackground 15s linear infinite
}
@-webkit-keyframes AnimateBackground
{
  0%,100%{background-position:0 50%}
  50%{background-position:100% 50%}
}
  
  @keyframes AnimateBackground{
    0%,100%{
      background-position:0 50%
    }
    50%
    {background-position:100% 50%}}